@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Welcome to Fininex, your financial diary.</h1>
    <br />
    <br />
    <br />
    <br />
    <h3 align="center">*insert financial quote here*</h3>
</div>